// Specific CSS for your home-page
.titre h3 {
  font-size: 24px;
  color: #1B7F79;
  font-weight: 700;
}

.my-list {
  margin-top: 5%;
}

.my-lists h4 {
  font-weight: 700;
  margin-top: 6%;
  font-size: 20px;
}
