.btn-new {
  color: #1B7F79;
  border: 2px solid #1B7F79;
  padding: 8px 24px;
  background: white;
  transition: background 0.3s ease;
}

.btn-new:hover {
  background:#1B7F79;
  color: white;
}

.btn-new a {
  color: #1B7F79;
  text-decoration: none;
}

.btn-more {
  color: white;
  padding: 8px 24px;
  background: #1B7F79;
  transition: background 0.3s ease;
}

.btn-more:hover {
  background: white;
  color: #1B7F79;
}

.btn-more a {
  color: white;
  text-decoration: none;
}
