.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand h1 {
  color: #FF4858;
  font-size: 20px;
  font-weight: 900;
  &:hover {
    color: grey;
  }
}
